.comp1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #BCE7FE;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}